<html ng-app="cepApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>BuscaRua</title>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <link href="Content/ionic.min.css" rel="stylesheet">
    <script src="Scripts/ionic.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>
    <script src="Scripts/controller.js"></script>
    <script src="Scripts/service.js"></script>
    <script src="Scripts/app.js"></script>
</head>
<body ng-controller="ApiController">
    <div class="header" title="myTitle">
        <div class="bar-stable">
            <h1 class="title">Busca dados do cep</h1>
        </div>
		</div>
        <div class="content">           
            <div class="classlist">
                <div class="item">
                    <label class="fixed">CEP</label>
                    <input type="text" value="" ng-model="cep"></input>
                </div>
                <div class="item">
				<div class="buttons">
                    <button class="button" ng-click="findCep()">Buscar o CEP</button>
					</div>
                </div>
                <div class="item">
                    <div class="icon item-start" name="home" ></div>
                    Logradouro: {{logradouro}}
                </div>
                <div class="item">
                    <div class="icon item-start" name="pin" ></div>
                    Bairro: {{bairro}} 
                </div>
                <div class="item">
                    <div class="icon item-start" name="info" ></div>
                    Complemento: {{complemento}}
                </div>
                <div class="item">
                    <div class="icon item-start" name="pin" ></div>
                    Cidade: {{city}} / {{uf}}
                </div>
            </div>
        </div>
</body>
</html>